::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
}

html, body, #root {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d9d9d9 transparent;
}
